<div class="well">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        Analista
      </th>
      <th>
        Total de personas en eventos
      </th>
    </tr>
    </thead>
    <tbody>
    <% @r.each do |record| %>
        <% if record[:persons_total] > 0 %>
            <tr>
              <td>
                <%= record[:analyst_number] %>
              </td>
              <td>
                <%= record[:persons_total   ] %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
    </ul>
    </td>
    </tr>
    </tbody>

  </table>
</div>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= bar_chart(@r) %>
