<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path %><span class="divider">/</span></li>
    <%if can? :index, Iph %>
      <li><%= link_to t(:index), iphs_path %><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=t(:new) + " " + t(:wiph)%></li>
  </ul>
<%end%>
<%= render 'form' %>


