<%= form_for(@colaboration_area) do |f| %>

  <div class="form-inputs">
    <%= f.label "Area" %>
    <%= f.text_field :area %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
