<div style="background-image: url(/assets/black-Linen.png); box-shadow: 5px10px 10px 5px #888888; " class="well-large inline"><div class="search form-inline" style="margin: 0px auto; padding: 0px; width: 100%; "  >
  <%= form_tag searches_path, :method => :get do %>


      <div class="field input-append date">
        <%= text_field_tag 'consultar', nil, placeholder: 'seleccione mes a consultar', :class => 'datepicker' %>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>

      <%= button_tag( :class => "btn btn-success") do %>
          <i class="icon-search icon-white"> </i> Consultar
      <% end %>

  <% end %>
</div>
</div>
<%= render 'person' %>

<script>
    $(function() {
        $('.datepicker').each(function() {
            $(this).datepicker({
                language: 'es',
                format: "mm/yyyy",
                viewMode: "months",
                minViewMode: "months"

            });
        });
    });

    (function($) {
        $.fn.datepicker.dates['es'] = {
            days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
            daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
            daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
            months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            today: "Hoy"
        };
    }(jQuery));
</script>
