<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path %><span class="divider">/</span></li>
    <%if can? :index, Helpdesk %>
      <li><%= link_to t(:index), helpdesks_path %><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=t(:new) + " " + t(:whelpdesk)%></li>
  </ul>
<%end%>
<%= render 'form' %>
